<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>redis key操作</title>
        <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css">
        <script src="/static/js/jquery-3.4.1.js"></script>
        <script src="/static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
        <script type="text/javascript">
            $(document).ready(function (){
                $("#delBtn").click(function(){
                    if($("#key").val() == "" || $.trim($("#key").val()).length == 0){
                        $("#msg").html("key不能为空!");
                        return false;
                    }
                    $("#flag").val("0");
                    $(this).hide();
                });
            });
        </script>
    </head>

    <body>
        <h1>redis key (253)</h1>
        <form id="redisForm" action="{% url 'queryKey' %}" method="post" class="form-inline">
            {% csrf_token %}
            <div class="form-group">
                <label for="key">请输入key:</label>
                <input type="input" id="key" name="key" class="form-control" value="{{ key }}"/>
                <input type="hidden" id="flag" name="flag" class="form-control" value="1"/>
            </div>
            <input type="submit" value="查询" class="btn btn-default">
            <input type="submit" value="删除" id="delBtn" class="btn btn-default">
            <span id="msg" class="label label-warning">{{ message }}</span>
        </form>
        <table class="table table-striped" >
            <thead><tr><th>keys</th></tr></thead>
            <tbody>
            {% if redis_keys %}
                {% for key in redis_keys %}
                    <tr><td><label>{{ key }}</label></td></tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </body>
</html>