<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>服务信息</title>
        <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css"/>
        <style>
            td { text-align: center}
        </style>
        <script src="/static/js/jquery-3.4.1.js"></script>
        <script src="/static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row top">
                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Redis工具</a></li>
			<li><a href="/cleanUserCache">清理用户缓存</a></li>
                        <li><a href="/serverinfo">服务信息</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <table class="table table-bordered">
                    	<tr><td>环境</td><td>ip地址</td><td>用户</td><td>密码</td><td>备注</td></tr>
                        <tr><td>测试环境</td><td>10.25.16.253</td><td>jiuwan-api</td><td>jiuwan-api-master-dev</td><td>所有服务</td></tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr><td>UAT环境</td><td>10.25.16.128</td><td>jiuwan-api</td><td>jiuwan-api-master-dev</td><td>所有服务</td></tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr><td>预发环境</td><td>10.25.15.196</td><td>java_dev</td><td>java_dev</td><td>后台、定时器</td></tr>
                        <tr><td>预发环境</td><td>10.25.15.211</td><td>java_dev</td><td>java_dev</td><td>会员、订单</td></tr>
                        <tr><td>预发环境</td><td>10.25.15.212</td><td>java_dev</td><td>java_dev</td><td>活动、搜素</td></tr>
                        <tr><td>预发环境</td><td>10.25.15.213</td><td>java_dev</td><td>java_dev</td><td>商家</td></tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr><td>生产环境</td><td>101.132.25.74</td><td>jiuwan-api</td><td>********</td><td>后台</td></tr>
                        <tr><td>生产环境</td><td>101.132.254.71</td><td>jiuwan-api</td><td>********</td><td>会员</td></tr>
                        <tr><td>生产环境</td><td>101.132.73.81</td><td>jiuwan-api</td><td>********</td><td>订单、酒店</td></tr>
                        <tr><td>生产环境</td><td>106.15.136.226</td><td>jiuwan-api</td><td>********</td><td>商家</td></tr>
                        <tr><td>生产环境</td><td>47.100.82.112</td><td>jiuwan-api</td><td>********</td><td>活动</td></tr>
                        <tr><td>生产环境</td><td>101.132.162.10</td><td>jiuwan-api</td><td>********</td><td>搜素</td></tr>
                </table>
            </div>
        </div>
    </body>
</html>