<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务信息</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/dist/css/bootstrap-theme.min.css"/>
    <style> td {
        text-align: center
    }</style>
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row top">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="/">Redis工具</a></li>
                <li><a href="/cleanUserCache">清理用户缓存</a></li>
                <li><a href="/serverinfo">服务信息</a></li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <td>环境</td>
                <td>IP地址</td>
                <td>用户</td>
                <td>密码</td>
                <td>备注</td>
            </tr>
            <tr>
                <td>研发环境-数据库(test)</td>
                <td>10.25.16.253:3306/test_dev</td>
                <td>test-api</td>
                <td>test-api</td>
                <td>仅做客户端连接用</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>测试换环境-数据库(大转盘)</td>
                <td>10.25.16.253:3306/test_test</td>
                <td>test-api</td>
                <td>test-api</td>
                <td>仅做客户端连接用</td>
            </tr>
            <tr>
                <td>测试换环境-日志查看(大转盘)</td>
                <td>10.25.16.253:22</td>
                <td>test-api</td>
                <td>test-api</td>
                <td>日志在/home/test-Project/test-API/test/logs</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>预发环境-数据库(test)</td>
                <td>1.1.1.1:63306</td>
                <td>test_pre</td>
                <td>test_test@2020888Pre</td>
                <td>仅做客户端连接用</td>
            </tr>
            <tr>
                <td>预发环境-日志查看(test)</td>
                <td>1.1.1.1:22</td>
                <td>test</td>
                <td>test@2020</td>
                <td>日志文件在log目录</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>