<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-fileinput/css/fileinput.css"/>
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/static/bootstrap-fileinput/js/locales/zh.js"></script>
    <script src="/static/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div id="head"></div>

    <div class="row" style="height: 300px;width: 500px">
        <input id="input-711" class="file" type="file" name="myfile">
    </div>

</div>

<script type="text/javascript">

    $("#head").load("/head");

    //初始化fileinput控件（第一次初始化）
    $("#input-711").fileinput({
        language: 'zh', //设置语言
        uploadUrl: "/upload/", // server upload action
        allowedFileExtensions: ['zip'],//接收的文件后缀
        dropZoneEnabled: false,
        //uploadAsync: true,
        //maxFileCount: 5,
        showBrowse: true,
        //browseOnZoneClick: true
    }).on("fileuploaded", function (e, data, previewiId, index) {       // 上传完成后的处理
        var form = data.form;
        var files = data.files;
        var extra = data.extra;
        var response = data.response;        // 响应
        var reader = data.reader;          // 文件对象

    });


</script>
</body>
</html>